.Thumbnail {
    padding: 3px 3px;
    /*!*adjust to padding*!*/
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px #ccc;
}

.Thumbnail:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.ThumbnailImage {
}
