.ThumbnailsRow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
    cursor: pointer;
    padding: 32px 16px;
    /*!*adjust to padding*!*/
    box-sizing: border-box;
}
