.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 320px) {
    .Modal {
        width: 90%;
        left: calc(50% - 45%);
    }
}

@media (min-width: 500px) {
    .Modal {
        width: 490px;
        left: calc(50% - 240px);
    }
}

@media (min-width: 900px) {
    .Modal {
        width: 800px;
        left: calc(50% - 400px);
    }
}

