.FooterLayout {
    /*position:absolute;*/
    left: 20vh;
    bottom:0;
    /*right:0;*/
    /*height: 100%;*/
    background-color: #41B3A3;
    /*height: 20px;*/
    text-align: center;
    height: 40px;
}

.FooterLayoutWelcome {
    position:absolute;
    left: 20vh;
    text-align: center;
    background-color: #41B3A3;
    bottom:0;
    right:0;
    height: 40px;
}


.FooterHome {
    background-color: #41B3A3;
    text-align: center;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    height: 40px;
}
