.AlbumCover {
    text-align: center;
}

.Active:hover, .Inactive:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.Active {
    width: 100%;
    padding: 2px;
    text-align: center;
    /*border: 1px solid #000;*/
    box-shadow: 0 1px 1px #ccc;
    /*margin: 2px auto;*/
    box-sizing: border-box;
    cursor: pointer;
    background-color: #02679E;
    color: white;
}

.Inactive {
    width: 100%;
    padding: 2px;
    text-align: center;
    /*border: 1px solid #eee;*/
    box-shadow: 0 1px 1px #ccc;
    margin: 2px auto;
    box-sizing: border-box;
    background-color: #43A4D9;
    cursor: pointer;
    color: white;
}
